*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
}

.title{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* display: inline-flex; */
}

.paragraph{
    font-family: "Garamond", "Georgia", serif;
    font-size: 24px;
}

.tashkentTitle{
    color: #FF00FF;
    text-align: right;
}

.londonTitle{
    color: blue;
    text-align: center;
}

.moskvaTitle{
    color: red;
}

.linksTitle{
    font-weight: 600;
}

.parentTashkent{
    display: flex;
}

.parentLondon{
    display: flex;
}

.parentMoskva{
    display: flex;
}

.grendParent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul {
    list-style-type: disc; 
    padding-left: 20px; 
  }
  